* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebf3fb;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  padding: 60px;
  width: 887px;
  height: 600px;
  background-color: #ffff;

  display: flex;
  flex-direction: row;
  border-radius: 5mm;
}

.headphone {
  width: 243px;
  height: 223px;
}

.info {
  margin-left: 20px;
  position: relative;
}

.shipping {
  padding: 3px 8px;
  background-color: #191847;
  color: #ffff;
  border-radius: 4mm;
}

.title {
  font-size: 30px;
}
.old-price {
  text-decoration: line-through;
  font-size: 18px;
}

.current-price {
  font-weight: bold;
  font-size: 55px;
}
.valid-until {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 30px;
  color: #c9c9da;
}

.add {
  color: #ffff;
  width: 100%;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
  color: #ffff;
  background-color: #4788e9;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.add:hover {
  background-color: #1c57ee;
  box-shadow: 0px 15px 20px rgba(145, 166, 197, 0.4);
  transform: translateY(7px);
}

.stock {
  margin-top: 30px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  height: 54px;
  margin-top: 30px;
}
.add-to {
  width: 48%;
  border: 3px solid;
  background-color: Transparent;
  border-color: #c9c9da;
  border-radius: 7px;
  color: #191847;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.add-to:hover {
  background-color: #00d98b;
  color: #ffff;
  border: none;
}
